*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(55, 66, 87);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
  display: flex;
  gap: 24px;
}

.controls{
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.remove-features{
  margin-top: 12px;
}

button{
  width: fit-content;
  padding: 4px 20px;
  background-color: rgb(40, 100, 7);
  border-radius: 4px;
  outline: 1px solid rgb(135, 242, 28);
  border: 2px solid rgb(0,0,0,0);
  color: rgb(135, 242, 28);
  font-size: 16px;
}

#clear{
  margin-top: 8px;
}

h1, h2, h3, h4, h5{
  color:rgb(135, 242, 28);
  text-align: center;
}
h3{
  margin: 16px 0 4px 0;
}
h4{
  margin: 0;
  margin-bottom: 8px;
}

.scratchpad{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 400px;
  background-color: white;
}

.pixel{
  background-color: white;
  border: 0.5px solid rgb(235, 235, 235);
}

/* PALLETTE */
.pallette{
  width: max-content;
  max-width: 164px;
  background-color: white;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.color{
  width:36px;
  height:36px;
  /* border: 2px solid black; */
  border: 1px solid rgb(255, 255, 255);
}
.color:nth-child(1){
  background-color: rgb(135, 242, 28);
}

.small{
  padding: 2px 4px;
  font-size: 14px;
}

.delete-clr{
  padding-bottom: 0px;
}
.delete-clr img{
  height: 16px;
  fill: rgb(135, 242, 28);
}




